<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Notification - TajmaWatch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Tajma WatchKit App.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Tajma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TajmaToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TajmaWatch.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F80667551B1E5CA100A26B5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F843A39C1B1B04C2008F4505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F843A3B41B1B04C2008F4505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F87257391B3F2D5E006CBDA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
